.dropdown-container {
  padding: 4px;
  position: absolute;
  margin-top: 56px;
  top: 0;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-normal);
  .option-list {
    min-height: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
    padding: 12px;
    overflow-y: overlay;

    .option {
      list-style: none;
      padding: 0 16px;
      height: 40px;
      border-radius: var(--border-radius);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;

      &.selected {
        background-color: var(--primary-light);
        color: var(--primary-dark);
      }
    }
  }
}
